In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import pickle
import os

In [3]:
# format: engine = create_engine('mysql+pymysql://<user>:<password>@<host>[:<port>]/<dbname>')
db_user = os.environ.get('MYSQL_USER')
db_pass = os.environ.get('MYSQL_PASS')
db_host = os.environ.get('MYSQL_HOST')
engine = create_engine(f"mysql+pymysql://{db_user}:{db_pass}@{db_host}/subways")

In [5]:
df = pd.read_sql_query('SELECT * FROM traintimes WHERE snapshotUnix=1548129035 LIMIT 1000', engine)

In [9]:
pickle.dump(df, open('saved_sample.p', 'wb'))

In [10]:
df = pickle.load(open('saved_sample.p', 'rb'))

In [11]:
df

,id,snapshotUnix,snapshotNYC,routeId,stationIdGTFS,direction,trainOrderLine,trainOrderAll,arrivalTime,departureTime,updatedOn,timeToArrival,timeToDeparture,delay
0,1,1548129035,2019-01-21 22:50:35,1,101,N,0,0,1.548129e+09,NaN,1548129021,409.0,NaN,None
1,2,1548129035,2019-01-21 22:50:35,1,101,N,1,1,1.548130e+09,NaN,1548129021,767.0,NaN,None
2,3,1548129035,2019-01-21 22:50:35,1,101,N,2,2,1.548130e+09,NaN,1548129021,911.0,NaN,None
3,4,1548129035,2019-01-21 22:50:35,1,101,N,3,3,1.548130e+09,NaN,1548129021,1326.0,NaN,None
4,5,1548129035,2019-01-21 22:50:35,1,101,N,4,4,1.548131e+09,NaN,1548129021,1750.0,NaN,None
5,6,1548129035,2019-01-21 22:50:35,1,101,N,5,5,1.548131e+09,NaN,1548129021,1951.0,NaN,None
6,7,1548129035,2019-01-21 22:50:35,1,101,N,6,6,1.548131e+09,NaN,1548129021,2391.0,NaN,None
7,8,1548129035,2019-01-21 22:50:35,1,101,S,0,0,NaN,1.548129e+09,1548129021,NaN,249.0,None
8,9,1548129035,2019-01-21 22:50:35,1,103,N,0,0,1.548129e+09,1.548129e+09,1548129021,229.0,319.0,None
9,10,1548129035,2019-01-21 22:50:35,1,103,N,1,1,1.548129e+09,1.548130e+09,1548129021,467.0,677.0,None
10,11,1548129035,2019-01-21 22:50:35,1,103,N,2,2,1.548130e+09,1.548130e+09,1548129021,731.0,821.0,None
11,12,1548129035,2019-01-21 22:50:35,1,103,N,3,3,1.548130e+09,1.548130e+09,1548129021,1026.0,1236.0,None
12,13,1548129035,2019-01-21 22:50:35,1,103,N,4,4,1.548130e+09,1.548131e+09,1548129021,1450.0,1660.0,None
13,14,1548129035,2019-01-21 22:50:35,1,103,N,5,5,1.548131e+09,1.548131e+09,1548129021,1651.0,1861.0,None
14,15,1548129035,2019-01-21 22:50:35,1,103,N,6,6,1.548131e+09,1.548131e+09,1548129021,2091.0,2301.0,None
15,16,1548129035,2019-01-21 22:50:35,1,103,S,0,0,1.548129e+09,1.548129e+09,1548129021,339.0,339.0,None
16,17,1548129035,2019-01-21 22:50:35,1,103,S,1,1,1.548130e+09,1.548130e+09,1548129021,939.0,939.0,None
17,18,1548129035,2019-01-21 22:50:35,1,103,S,2,2,1.548131e+09,1.548131e+09,1548129021,1539.0,1599.0,None
18,19,1548129035,2019-01-21 22:50:35,1,104,N,0,0,1.548129e+09,1.548129e+09,1548129021,139.0,139.0,None
19,20,1548129035,2019-01-21 22:50:35,1,104,N,1,1,1.548129e+09,1.548129e+09,1548129021,377.0,377.0,None
20,21,1548129035,2019-01-21 22:50:35,1,104,N,2,2,1.548130e+09,1.548130e+09,1548129021,641.0,641.0,None
21,22,1548129035,2019-01-21 22:50:35,1,104,N,3,3,1.548130e+09,1.548130e+09,1548129021,936.0,936.0,None
22,23,1548129035,2019-01-21 22:50:35,1,104,N,4,4,1.548130e+09,1.548130e+09,1548129021,1360.0,1360.0,None
23,24,1548129035,2019-01-21 22:50:35,1,104,N,5,5,1.548131e+09,1.548131e+09,1548129021,1561.0,1561.0,None
24,25,1548129035,2019-01-21 22:50:35,1,104,N,6,6,1.548131e+09,1.548131e+09,1548129021,2001.0,2001.0,None
25,26,1548129035,2019-01-21 22:50:35,1,104,S,0,0,1.548129e+09,1.548129e+09,1548129021,429.0,429.0,None
26,27,1548129035,2019-01-21 22:50:35,1,104,S,1,1,1.548130e+09,1.548130e+09,1548129021,1029.0,1029.0,None
27,28,1548129035,2019-01-21 22:50:35,1,104,S,2,2,1.548131e+09,1.548131e+09,1548129021,1689.0,1689.0,None
28,29,1548129035,2019-01-21 22:50:35,1,106,N,0,0,1.548129e+09,1.548129e+09,1548129021,49.0,49.0,None
29,30,1548129035,2019-01-21 22:50:35,1,106,N,1,1,1.548129e+09,1.548129e+09,1548129021,287.0,287.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,971,1548129035,2019-01-21 22:50:35,4,413,S,0,0,1.548129e+09,1.548129e+09,1548129024,227.0,227.0,None
971,972,1548129035,2019-01-21 22:50:35,4,413,S,1,1,1.548130e+09,1.548130e+09,1548129024,996.0,996.0,None
972,973,1548129035,2019-01-21 22:50:35,4,413,S,2,2,1.548131e+09,1.548131e+09,1548129024,1716.0,1716.0,None
973,974,1548129035,2019-01-21 22:50:35,4,413,S,3,3,1.548131e+09,1.548131e+09,1548129024,2436.0,2436.0,None
974,975,1548129035,2019-01-21 22:50:35,4,414,N,0,0,1.548085e+09,1.548085e+09,1548129024,-32768.0,-32768.0,None
975,976,1548129035,2019-01-21 22:50:35,4,414,N,1,1,1.548089e+09,1.548089e+09,1548129024,-32768.0,-32768.0,None
976,977,1548129035,2019-01-21 22:50:35,4,414,N,2,2,1.548096e+09,1.548096e+09,1548129024,-32664.0,-32664.0,None
977,978,1548129035,2019-01-21 22:50:35,4,414,N,3,3,1.548129e+09,1.548129e+09,1548129024,3.0,3.0,None
978,979,1548129035,2019-01-21 22:50:35,4,414,N,4,4,1.548130e+09,1.548130e+09,1548129024,898.0,898.0,None
979,980,1548129035,2019-01-21 22:50:35,4,414,N,5,5,1.548130e+09,1.548130e+09,1548129024,968.0,968.0,None
980,981,1548129035,2019-01-21 22:50:35,4,414,N,6,6,1.548131e+09,1.548131e+09,1548129024,1665.0,1665.0,None
981,982,1548129035,2019-01-21 22:50:35,4,414,S,0,0,1.548129e+09,1.548129e+09,1548129024,347.0,347.0,None
982,983,1548129035,2019-01-21 22:50:35,4,414,S,1,1,1.548130e+09,1.548130e+09,1548129024,1116.0,1116.0,None
983,984,1548129035,2019-01-21 22:50:35,4,414,S,2,2,1.548131e+09,1.548131e+09,1548129024,1836.0,1836.0,None
984,985,1548129035,2019-01-21 22:50:35,4,414,S,3,3,1.548132e+09,1.548132e+09,1548129024,2556.0,2556.0,None
985,986,1548129035,2019-01-21 22:50:35,4,415,N,0,0,1.548084e+09,1.548084e+09,1548129024,-32768.0,-32768.0,None
986,987,1548129035,2019-01-21 22:50:35,4,415,N,1,1,1.548089e+09,1.548089e+09,1548129024,-32768.0,-32768.0,None
987,988,1548129035,2019-01-21 22:50:35,4,415,N,2,2,1.548096e+09,1.548096e+09,1548129024,-32768.0,-32768.0,None
988,989,1548129035,2019-01-21 22:50:35,4,415,N,3,3,1.548130e+09,1.548130e+09,1548129024,748.0,748.0,None
989,990,1548129035,2019-01-21 22:50:35,4,415,N,4,4,1.548130e+09,1.548130e+09,1548129024,818.0,818.0,None
990,991,1548129035,2019-01-21 22:50:35,4,415,N,5,5,1.548131e+09,1.548131e+09,1548129024,1515.0,1515.0,None
991,992,1548129035,2019-01-21 22:50:35,4,415,N,6,6,1.548131e+09,1.548131e+09,1548129024,2135.0,2135.0,None
992,993,1548129035,2019-01-21 22:50:35,4,415,S,0,0,1.548130e+09,1.548130e+09,1548129024,527.0,527.0,None
993,994,1548129035,2019-01-21 22:50:35,4,415,S,1,1,1.548130e+09,1.548130e+09,1548129024,1296.0,1296.0,None
994,995,1548129035,2019-01-21 22:50:35,4,415,S,2,2,1.548131e+09,1.548131e+09,1548129024,2016.0,2016.0,None
995,996,1548129035,2019-01-21 22:50:35,4,415,S,3,3,1.548132e+09,1.548132e+09,1548129024,2736.0,2736.0,None
996,997,1548129035,2019-01-21 22:50:35,4,416,N,0,0,1.548084e+09,1.548084e+09,1548129024,-32768.0,-32768.0,None
997,998,1548129035,2019-01-21 22:50:35,4,416,N,1,1,1.548089e+09,1.548089e+09,1548129024,-32768.0,-32768.0,None
998,999,1548129035,2019-01-21 22:50:35,4,416,N,2,2,1.548096e+09,1.548096e+09,1548129024,-32768.0,-32768.0,None
999,1000,1548129035,2019-01-21 22:50:35,4,416,N,3,3,1.548130e+09,1.548130e+09,1548129024,598.0,598.0,None

## Getting data from my SQL database

First I want to use Pandas to get some data from my MySQL database.

In [ ]:
# format: connect_string = 'mysql://USER:PW@DBHOST/DB'
connect_string = 'mysql://aistudio:ic64KzDveaguM7BhaFswnujYLAjCie2agMtnJfBmZ@ai-studio-subways-2.cxfvrcwg4irj.us-east-2.rds.amazonaws.com/subways'
sql_engine = sql.create_engine(connect_string)